.container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 120rem;
  margin: 15rem auto;
  background-color: #eee;
  overflow: hidden;
}

.content {
  display: flex;
  min-height: 30rem; // For Test
}

.gallery {
  background-color: blanchedalmond;
  flex: 1;
}
