@import '../../bp.scss';

.gallery {
  list-style: none;
  flex: 1;
  padding: 1.5rem 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__no-books {
    font-size: 3rem;
    margin-top: 3rem;
  }

  @media only screen and (max-width: $bp-mediumScreen) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
