@import './bp.scss';

:root {
  --color-background: #a0eec0;
  --color-primary: #72a276;
  --color-3: #86cd82;
  --color-4: hsla(161, 51%, 57%, 1);
  --color-secondary: #666b6a;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largeScreen) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-smallScreen) {
    font-size: 37.5%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;

  background-color: var(--color-background);
}
